h2 {
  text-align: center;
  color: #1e90ff;
  margin: 1rem;
  font-size: 2rem;
}

/* Table styling */
table {
  width: 80%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin-left: 10%;
}

th, td {
  text-align: left;
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #1e90ff;
  color: white;
  font-weight: bold;
}

tr:hover {
  background-color: #f1f1f1;
  transition: 0.3s;
}

/* Logout button */
.logout-button {
  display: block;
  margin: 20px auto;
  padding: 10px 25px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  width: auto;
}

.logout-button:hover {
  background-color: #e60000;
}
.action-message{
  text-align: center;
  color: rgb(190, 50, 15);
  margin: 2rem;
  font-size: 2rem;
}


