.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  /* margin: 80px; */
  padding: 30px;
}

.login-box {
  background: #fff;
  width: 100%;
  max-width: 600px;
  padding: 2.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.login-box:hover {
  transform: translateY(-5px);
}

/* Titles */
.login-title {
  font-size: 1.9rem;
  color: #3b3737;
  font-weight: 600;
  margin-bottom: 2.8rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}


/* Input Fields */
.input-field {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-box {
  width: 100%;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border: 1.5px solid #ccc;
  border-radius: 0.75rem;
  transition: all 0.3s ease;
}

.form-box:focus {
  border-color: #7d5fff;
  box-shadow: 0 0 5px rgba(125, 95, 255, 0.4);
  outline: none;
}

/* Password Toggle */
.toggle-password {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.9rem;
  color: #7d5fff;
  cursor: pointer;
  user-select: none;
  transition: color 0.2s ease;
}

.toggle-password:hover {
  color: #5b3fd8;
}

/* Buttons */
.login-btn {
  width: 100%;
  background: linear-gradient(135deg, #7d5fff, #7158e2);
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.9rem;
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-btn:hover {
  background: linear-gradient(135deg, #7158e2, #5a45c2);
  transform: translateY(-2px);
}

/* Signup Link */
.signup-link {
  margin-top: 1rem;
  color: #777;
  font-size: 0.9rem;
}

.signup-link span {
  color: #7d5fff;
  cursor: pointer;
  font-weight: 600;
  transition: color 0.2s ease;
}

.signup-link span:hover {
  color: #5b3fd8;
}

/* Message */
.message {
  margin: 1rem;
  font-size: 0.9rem;
  color: #e74c3c;
}
.remember-me{
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 1rem;
 
  
}
.remember-me >input[type="checkbox"] {
  margin: 0.5rem 0.5rem;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.remember-me >span {
  font-size: 1rem;
   color: #011b2b;
}