.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #f3f4f6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #5391d3;
  /* margin-bottom: 20px; */
}
.main-container h2{
  color: red !important;
}