/* Navbar container */
.navbar {
  display: flex;
  /* justify-content: space-between;  */
  align-items: center;
  padding: 10px 20px;
  background-color: #1f2937; 
  color: white;
  font-family: Arial, sans-serif;
}

/* Left side buttons */
.nav-left {
  display: flex;
  gap: 10px; /* Space between buttons */
}

.nav-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3b82f6; /* Blue */
  color: white;
  font-weight: bold;
  transition: background 0.3s;
  margin: 10px;
}

.nav-btn:hover {
  background-color: #2563eb; /* Darker blue on hover */
}


/* Right side text */
.nav-right {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}
.main-heading{
  font-size: 24px;
  text-align: center;
  color: #3b82f6;
}